h2 {
  text-align: center;
  color: blue;
}
body {
  background-color: coral;
}
img {
  border: 20px double yellow;
}
.jedan {
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#dva {
  color: brown;
}
a {
    color: white;
    transition: 0.4s;
}
a:hover{
    color: green;
}
