/*U sustini ovaj blue_theme koji je po zelji korisnika treba ubaciti posle style.css, jer kako dolazi posle njega ta pravila i vaze.
Treba ga naravno ubaciti u oba html dokumenta, ili koliko god html dokumenata da imamo.
Fajl treba ubaciti u css folder i istom putanjom ga pozvati kao i glavni style.css
*/
body{
    background-color: darkblue;
  /*Ovo boji pozadinu u plavo*/  
}
body p{
    color: white;
    /*Na ovaj nacin bojimo sve paragrafe u belo*/
}
.lista{
    color: white;
    /*Bojimo sve liste, tj obe u belo, jer lista nije u paragrafu pa je nece ni obojiti*/
}
mark{
    color: white;
    background-color: blueviolet;
    /*Iako je mark u paragrafu, moramo ovako jer je mark jaci po sintaksi, valjda je to razlog?*/
}
h1, h2{
    color:white;
    /*Odnosi se na koliko god da imamo h1,h2...*/
}
a{
    color: white;
    /*odnosi se na koliko god linkova da imamo*/
}
a:hover{
    color: blueviolet;
}
span{
    color: white;
}
summary{
    color: white;
}
table, th, td{
    color: white;
    border-color: rgb(200, 200, 249);
}
/*Razumem zasto je hteo vizuelne promene, sajt je sada 2x lepsi :D*/
