
h1{
    color: blue;
}
h2{
    color: red;
}
p{
    color: yellow;
}
img{
    width: 400px;
    height: 300px;
    border: 2px dotted  black;
}
a {
    color: darkolivegreen;
    
}
div{
    background-color: burlywood;
    font-family: Arial sans-serif;
    font-size: 20px;
    
}
.klasa{
    text-align: center;
}
.klasa2{
    text-align: right;
    font-size: 24px;
}
h3{
    text-align: center;
    color: rgb(11, 148, 11);
    font-family: "Comic Sans";
}

a:visited{
    color: blue;
}
a:visited{
    color:green;
}
a:hover{
    color: yellow;
}
#obojen{
    color: blue;
    text-align: center;
}
body{
    background-color: brown;
}
#slicica{
    border: 20px double blue;
}
.paragraf{
    color: darkgoldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#drugi{
    color: darkred;
}
#link{
    color: red;
}
#link:hover{
    color: green;
}


